@using BugSpy.Extensions;
@using BugSpy.Services.Interfaces
@using BugSpy.Models.Enums;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<BTUser> _userManager
@inject IBTFileService _fileService

@{
    BTUser? btUser = await _userManager.GetUserAsync(User);

    int companyId = User.Identity!.GetCompanyId();
}



<!DOCTYPE html>
<!--
Template Name: Rubick - HTML Admin Dashboard Template
Author: Left4code
Website: http://www.left4code.com/
Contact: muhammadrizki@left4code.com
Purchase: https://themeforest.net/user/left4code/portfolio
Renew Support: https://themeforest.net/user/left4code/portfolio
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en" class="dark">
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <link href="~/dist/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rubick admin is super flexible, powerful, clean & modern responsive bootstrap admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Rubick Admin Template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>Dashboard - Rubick - Bootstrap HTML Admin Template</title>
    <!-- BEGIN: CSS Assets-->
   
  
  

    <link rel="stylesheet" href="~/dist/css/app.css" />

  
    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<body class="main">
    <!-- BEGIN: Mobile Menu -->
    <div class="mobile-menu d-md-none">
        <div class="mobile-menu-bar">
            <a href="" class="d-flex me-auto">
                <img src="~/dist/images/flavicon.svg" height="60" />
            </a>
            <a href="javascript:;" id="mobile-menu-toggler" class="mobile-menu-bar__toggler"> <i data-feather="bar-chart-2" class="w-8 h-8 text-white"></i> </a>
        </div>
        <ul class="mobile-menu-wrapper border-top border-theme-29 dark-border-dark-3 py-5">
@*                <li>
                <a href="javascript:;" class="menu">
                    <div class="menu__icon"> <i data-feather="home"></i> </div>
                    <div class="menu__title"> Admin Dashboard <i data-feather="chevron-down" class="menu__sub-icon "></i> </div>
                </a>
                <ul class="">
                    <li>
                        <a href="side-menu-dark-dashboard-overview-1.html" class="menu">
                            <div class="menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="menu__title"> Project Index </div>
                        </a>
                    </li>
                    <li>
                        <a href="side-menu-dark-dashboard-overview-2.html" class="menu">
                            <div class="menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="menu__title"> Tickets Index </div>
                        </a>
                    </li>
                    <li>
                        <a href="side-menu-dark-dashboard-overview-3.html" class="menu">
                            <div class="menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="menu__title"> Company Members Index? </div>
                        </a>
                    </li>
                </ul>
            </li>*@




            <li>
                <a asp-controller="Home" asp-action="Index2" class="menu">
                    <div class="menu__icon"> <i data-feather="home"></i> </div>
                    <div class="menu__title"> Home </div>
                </a>
            </li>




            <li>
                <a href="javascript:;" class="menu">
                    <div class="menu__icon"> <i data-feather="briefcase"></i> </div>
                    <div class="menu__title"> Company <i data-feather="chevron-down" class="menu__sub-icon "></i> </div>
                </a>
                <ul class="">
                    <li>
                        <a asp-controller="Companies" asp-action="Details" asp-route-id="@companyId" class="menu">
                            <div class="menu__icon"> <i data-feather="book"></i> </div>
                            <div class="menu__title"> Company Overview </div>
                        </a>
                    </li>







                    @if (User.IsInRole("Admin"))
                    {

                        <li>
                            <a asp-controller="Companies" asp-action="ManageUserRoles" class="menu">
                                <div class="menu__icon"> <i data-feather="users"></i> </div>
                                <div class="menu__title"> Manage User Roles </div>
                            </a>
                        </li>

                    }




                    @if (User.IsInRole("Admin"))
                    {

                        <li>
                            <a asp-controller="Invites" asp-action="Create" class="menu">
                                <div class="side-menu__icon"> <i data-feather="send"></i> </div>
                                <div class="menu__title"> Create Invite </div>
                            </a>
                        </li>

                    }
                </ul>
            </li>
            <li>
                <a href="javascript:;" class="menu">
                    <div class="menu__icon"> <i data-feather="clipboard"></i> </div>
                    <div class="menu__title"> Projects <i data-feather="chevron-down" class="menu__sub-icon "></i> </div>
                </a>
                <ul class="">
                    @if (User.IsInRole("Admin"))
                    {

                        <li>
                            <a asp-controller="Projects" asp-action="Create" class="menu">
                                <div class="menu__icon"> <i data-feather="file-plus"></i> </div>
                                <div class="menu__title"> Create New Project </div>
                            </a>
                        </li>

                    }


                    @if (User.IsInRole("ProjectManager"))
                    {

                        <li>
                            <a asp-controller="Projects" asp-action="Create" class="menu">
                                <div class="menu__icon"> <i data-feather="file-plus"></i> </div>
                                <div class="menu__title"> Create New Project </div>
                            </a>
                        </li>

                    }


                    <li>
                        <a asp-controller="Projects" asp-action="ProjectsIndex" class="menu">
                            <div class="menu__icon"> <i data-feather="inbox"></i> </div>
                            <div class="menu__title"> Company Projects </div>
                        </a>
                    </li>







                    @if (User.IsInRole("Submitter"))
                    {

                        <li>
                            <a asp-controller="Projects" asp-action="ProjectsOverview" class="menu">
                                <div class="menu__icon"> <i data-feather="folder"></i> </div>
                                <div class="menu__title"> My Projects </div>
                            </a>
                        </li>

                    }

                    @if (User.IsInRole("Developer"))
                    {

                        <li>
                            <a asp-controller="Projects" asp-action="ProjectsOverview" class="menu">
                                <div class="menu__icon"> <i data-feather="folder"></i> </div>
                                <div class="menu__title"> My Projects </div>
                            </a>
                        </li>

                    }


                    @if (User.IsInRole("ProjectManager"))
                    {

                        <li>
                            <a asp-controller="Projects" asp-action="ProjectsOverview" class="menu">
                                <div class="menu__icon"> <i data-feather="folder"></i> </div>
                                <div class="menu__title"> My Projects </div>
                            </a>
                        </li>

                    }




                    <li>
                        <a asp-controller="Projects" asp-action="CompanyArchivedProjects" class="menu">
                            <div class="menu__icon"> <i data-feather="archive"></i> </div>
                            <div class="menu__title"> Archived Projects </div>
                        </a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="javascript:;" class="menu">
                    <div class="menu__icon"> <i data-feather="file-text"></i> </div>
                    <div class="menu__title"> Tickets <i data-feather="chevron-down" class="menu__sub-icon "></i> </div>
                </a>
                <ul class="">
                    <li>
                        <a asp-controller="Tickets" asp-action="Create" class="menu">
                            <div class="menu__icon"> <i data-feather="folder-plus"></i> </div>
                            <div class="menu__title"> Create New Ticket </div>
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Tickets" asp-action="TicketsIndex" class="menu">
                            <div class="menu__icon"> <i data-feather="inbox"></i> </div>
                            <div class="menu__title"> Company Tickets </div>
                        </a>
                    </li>






                    @if (User.IsInRole("Submitter"))
                    {

                        <li>
                            <a asp-controller="Tickets" asp-action="TabulatorTickets" class="menu">
                                <div class="menu__icon"> <i data-feather="folder"></i> </div>
                                <div class="menu__title"> My Tickets </div>
                            </a>
                        </li>

                    }


                    @if (User.IsInRole("Developer"))
                    {

                        <li>
                            <a asp-controller="Tickets" asp-action="TabulatorTickets" class="menu">
                                <div class="menu__icon"> <i data-feather="folder"></i> </div>
                                <div class="menu__title"> My Tickets </div>
                            </a>
                        </li>

                    }



                    @if (User.IsInRole("ProjectManager"))
                    {

                        <li>
                            <a asp-controller="Tickets" asp-action="AssignedPMTickets" class="menu">
                                <div class="menu__icon"> <i data-feather="folder"></i> </div>
                                <div class="menu__title"> My Assigned Tickets </div>
                            </a>
                        </li>

                    }


                    @if (User.IsInRole("ProjectManager"))
                    {

                        <li>
                            <a asp-controller="Tickets" asp-action="UnAssignedPMTickets" class="menu">
                                <div class="menu__icon"> <i data-feather="folder"></i> </div>
                                <div class="menu__title"> My Unassigned Tickets </div>
                            </a>
                        </li>

                    }




                    @if (User.IsInRole("Admin"))
                    {

                        <li>
                            <a asp-controller="Tickets" asp-action="AllUnassignedTickets" class="menu">
                                <div class="menu__icon"> <i data-feather="folder"></i> </div>
                                <div class="menu__title"> Unassigned Tickets </div>
                            </a>
                        </li>

                    }


                    <li>
                        <a asp-controller="Tickets" asp-action="CompanyArchivedTickets" class="menu">
                            <div class="menu__icon"> <i data-feather="archive"></i> </div>
                            <div class="menu__title"> Archived Tickets </div>
                        </a>
                    </li>





                </ul>
            </li>



            <li>
                <a asp-area="Identity" asp-page="/Account/Logout" class="menu">
                    <div class="menu__icon"> <i data-feather="log-out"></i> </div>
                    <div class="menu__title"> Log Out </div>
                </a>
            </li>

          
            </li>
        </ul>
    </div>
    <!-- END: Mobile Menu -->
    <div class="d-flex">
        <!-- BEGIN: Side Menu -->
        <nav class="side-nav">
            <a href="" class="intro-x d-flex align-items-center ps-5 pt-4">
                <img src="~/dist/images/flavicon.svg" height="60" />
                <span class="d-none d-xl-block text-white fs-lg ms-3"> Bug<span class="fw-medium">Spy</span> </span>
            </a>
            <div class="side-nav__devider my-6"></div>
            <ul>


@*                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a href="javascript:;.html" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="home"></i> </div>
                            <div class="side-menu__title">
                                Admin Dashboard
                                <div class="side-menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">
                            <li>
                                <a asp-controller="Projects" asp-action="Index" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Project Index </div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Tickets" asp-action="Index" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Ticket Index </div>
                                </a>
                            </li>
                            <li>
                                <a href="side-menu-dark-dashboard-overview-3.html" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Company Member Index </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
*@





                <li>
                    <a asp-controller="Home" asp-action="Index2" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="home"></i> </div>
                        <div class="side-menu__title"> Home </div>
                    </a>
                </li>





                    <li>
                        <a href="javascript:;.html" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="briefcase"></i> </div>
                            <div class="side-menu__title">
                                Company
                                <div class="side-menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                            </div>
                        </a>
                        <ul class="">


                            @*
                        <li>
                        <a asp-controller="Home" asp-action="Index2" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> Home </div>
                        </a>
                        </li>*@







                           
                        
                                <li>
                                    <a asp-controller="Companies" asp-action="Details" asp-route-id="@companyId" class="side-menu">
                                        <div class="side-menu__icon"> <i data-feather="book"></i> </div>
                                        <div class="side-menu__title"> Company Overview </div>
                                    </a>
                                </li>







                            @if (User.IsInRole("Admin"))
                            {

                                <li>
                                    <a asp-controller="Companies" asp-action="ManageUserRoles" class="side-menu">
                                        <div class="side-menu__icon"> <i data-feather="users"></i> </div>
                                        <div class="side-menu__title"> Manage User Roles </div>
                                    </a>
                                </li>

                            }




                            @if (User.IsInRole("Admin"))
                            {

                                <li>
                                    <a asp-controller="Invites" asp-action="Create" class="side-menu">
                                        <div class="side-menu__icon"> <i data-feather="send"></i> </div>
                                        <div class="side-menu__title"> Create Invite </div>
                                    </a>
                                </li>

                            }





                            @*                @if (User.IsInRole("ProjectManager"))
                        {

                        <li>
                        <a asp-controller="Tickets" asp-action="AssignedPMTickets" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title">  My Project Tickets With Developer </div>
                        </a>
                        </li>

                        }


                        @if (User.IsInRole("ProjectManager"))
                        {

                        <li>
                        <a asp-controller="Tickets" asp-action="UnAssignedPMTickets" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> My Project Tickets Without Developer </div>
                        </a>
                        </li>

                        }*@











                        </ul>
                    </li>




               

              









                <li>
                    <a href="javascript:;.html" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="clipboard"></i> </div>
                        <div class="side-menu__title">
                            Projects
                            <div class="side-menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">


@*
                        <li>
                            <a asp-controller="Home" asp-action="Index2" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="side-menu__title"> Home </div>
                            </a>
                        </li>*@



                        @if (User.IsInRole("Admin"))
                        {

                            <li>
                                <a asp-controller="Projects" asp-action="Create" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="file-plus"></i> </div>
                                    <div class="side-menu__title"> Create New Project </div>
                                </a>
                            </li>

                        }


                        @if (User.IsInRole("ProjectManager"))
                        {

                            <li>
                                <a asp-controller="Projects" asp-action="Create" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="file-plus"></i> </div>
                                    <div class="side-menu__title"> Create New Project </div>
                                </a>
                            </li>

                        }


                        <li>
                            <a asp-controller="Projects" asp-action="ProjectsIndex" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="inbox"></i> </div>
                                <div class="side-menu__title"> Company Projects </div>
                            </a>
                        </li>







                        @if (User.IsInRole("Submitter"))
                        {

                            <li>
                                <a asp-controller="Projects" asp-action="ProjectsOverview" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="folder"></i> </div>
                                    <div class="side-menu__title"> My Projects </div>
                                </a>
                            </li>

                        }

                        @if (User.IsInRole("Developer"))
                        {

                            <li>
                                <a asp-controller="Projects" asp-action="ProjectsOverview" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="folder"></i> </div>
                                    <div class="side-menu__title"> My Projects </div>
                                </a>
                            </li>

                        }


                        @if (User.IsInRole("ProjectManager"))
                        {

                            <li>
                                <a asp-controller="Projects" asp-action="ProjectsOverview" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="folder"></i> </div>
                                    <div class="side-menu__title"> My Projects </div>
                                </a>
                            </li>

                        }




                        <li>
                            <a asp-controller="Projects" asp-action="CompanyArchivedProjects" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="archive"></i> </div>
                                <div class="side-menu__title"> Archived Projects </div>
                            </a>
                        </li>









@*                        <li>
                            <a asp-controller="Tickets" asp-action="TicketsIndex" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="side-menu__title"> Company Active Tickets </div>
                            </a>
                        </li>


                        <li>
                            <a asp-controller="Tickets" asp-action="CompanyArchivedTickets" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="side-menu__title"> Company Archived Tickets </div>
                            </a>
                        </li>*@




@*                        @if (User.IsInRole("Submitter"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="TabulatorTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> My Tickets </div>
                                </a>
                            </li>

                        }


                        @if (User.IsInRole("Developer"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="TabulatorTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> My Tickets </div>
                                </a>
                            </li>

                        }*@










@*
                        @if (User.IsInRole("Admin"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="AllAssignedTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> All Tickets With Developer </div>
                                </a>
                            </li>

                        }

                        @if (User.IsInRole("Admin"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="AllUnassignedTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> All Tickets Without Developer </div>
                                </a>
                            </li>

                        }*@




                        







        @*                @if (User.IsInRole("ProjectManager"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="AssignedPMTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title">  My Project Tickets With Developer </div>
                                </a>
                            </li>

                        }


                        @if (User.IsInRole("ProjectManager"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="UnAssignedPMTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> My Project Tickets Without Developer </div>
                                </a>
                            </li>

                        }*@











                    </ul>
                </li>





                <li>
                    <a href="javascript:;.html" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="file-text"></i> </div>
                        <div class="side-menu__title">
                            Tickets
                            <div class="side-menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">





                        @*
                        <li>
                        <a asp-controller="Projects" asp-action="ProjectsIndex" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> Company Projects </div>
                        </a>
                        </li>



                        @if (User.IsInRole("Submitter"))
                        {

                        <li>
                        <a asp-controller="Projects" asp-action="ProjectsOverview" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> My Projects </div>
                        </a>
                        </li>

                        }

                        @if (User.IsInRole("Developer"))
                        {

                        <li>
                        <a asp-controller="Projects" asp-action="ProjectsOverview" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> My Projects </div>
                        </a>
                        </li>

                        }


                        @if (User.IsInRole("ProjectManager"))
                        {

                        <li>
                        <a asp-controller="Projects" asp-action="ProjectsOverview" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> My Projects </div>
                        </a>
                        </li>

                        }*@



                                     <li>
                            <a asp-controller="Tickets" asp-action="Create" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="folder-plus"></i> </div>
                                <div class="side-menu__title"> Create New Ticket </div>
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Tickets" asp-action="TicketsIndex" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="inbox"></i> </div>
                                <div class="side-menu__title"> Company Tickets </div>
                            </a>
                        </li>

  




                        @if (User.IsInRole("Submitter"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="TabulatorTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="folder"></i> </div>
                                    <div class="side-menu__title"> My Tickets </div>
                                </a>
                            </li>

                        }


                        @if (User.IsInRole("Developer"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="TabulatorTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="folder"></i> </div>
                                    <div class="side-menu__title"> My Tickets </div>
                                </a>
                            </li>

                        }



                        @if (User.IsInRole("ProjectManager"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="AssignedPMTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="folder"></i> </div>
                                    <div class="side-menu__title"> My Assigned Tickets </div>
                                </a>
                            </li>

                        }


                        @if (User.IsInRole("ProjectManager"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="UnAssignedPMTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="folder"></i> </div>
                                    <div class="side-menu__title"> My Unassigned Tickets </div>
                                </a>
                            </li>

                        }




                        @if (User.IsInRole("Admin"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="AllUnassignedTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="folder"></i> </div>
                                    <div class="side-menu__title"> Unassigned Tickets </div>
                                </a>
                            </li>

                        }


                        <li>
                            <a asp-controller="Tickets" asp-action="CompanyArchivedTickets" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="archive"></i> </div>
                                <div class="side-menu__title"> Archived Tickets </div>
                            </a>
                        </li>




                        @*                                @if (User.IsInRole("Admin"))
                        {

                        <li>
                        <a asp-controller="Tickets" asp-action="AllAssignedTickets" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> All Tickets With Developer </div>
                        </a>
                        </li>

                        }*@

    



















                    </ul>
                </li>


                <hr />

                <li>
                    <a asp-area="Identity" asp-page="/Account/Logout" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="log-out"></i> </div>
                        <div class="side-menu__title"> Log Out </div>
                    </a>
                </li>



              

@*
                <li>
                    <a href="javascript:;.html" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="home"></i> </div>
                        <div class="side-menu__title">
                            Dashboard
                            <div class="side-menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">


                   
                                                    <li>
                                <a asp-controller="Home" asp-action="Index2" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Home </div>
                                </a>
                            </li>


                            <li>
                                <a asp-controller="Projects" asp-action="ProjectsIndex" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Company Projects </div>
                                </a>
                            </li>



                        @if (User.IsInRole("Submitter"))
                        {

                            <li>
                                <a asp-controller="Projects" asp-action="ProjectsOverview" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> My Projects </div>
                                </a>
                            </li>

                        }

                        @if (User.IsInRole("Developer"))
                        {

                            <li>
                                <a asp-controller="Projects" asp-action="ProjectsOverview" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> My Projects </div>
                                </a>
                            </li>

                        }


                        @if (User.IsInRole("ProjectManager"))
                        {

                            <li>
                                <a asp-controller="Projects" asp-action="ProjectsOverview" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> My Projects </div>
                                </a>
                            </li>

                        }

     



                        <li>
                            <a asp-controller="Tickets" asp-action="TicketsIndex" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="side-menu__title"> Company Active Tickets </div>
                            </a>
                        </li>


                        <li>
                            <a asp-controller="Tickets" asp-action="CompanyArchivedTickets" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                <div class="side-menu__title"> Company Archived Tickets </div>
                            </a>
                        </li>




                        @if (User.IsInRole("Submitter"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="TabulatorTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> My Tickets </div>
                                </a>
                            </li>

                        }

                        
                        @if (User.IsInRole("Developer"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="TabulatorTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> My Tickets </div>
                                </a>
                            </li>

                        }








                        


                        @if (User.IsInRole("Admin"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="AllAssignedTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> All Tickets With Developer </div>
                                </a>
                            </li>

                        }

                        @if (User.IsInRole("Admin"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="AllUnassignedTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> All Tickets Without Developer </div>
                                </a>
                            </li>

                        }








                                                @if (User.IsInRole("ProjectManager"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="AssignedPMTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title">  My Project Tickets With Developer </div>
                                </a>
                            </li>

                        }


                        @if (User.IsInRole("ProjectManager"))
                        {

                            <li>
                                <a asp-controller="Tickets" asp-action="UnAssignedPMTickets" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> My Project Tickets Without Developer </div>
                                </a>
                            </li>

                        }

                      

        

                        


                        @if (User.IsInRole("Admin"))
                        {

                            <li>
                                <a asp-controller="Invites" asp-action="Create" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Create Invite </div>
                                </a>
                            </li>

                        }



                    </ul>
                </li>


                                <li>
                    <a asp-controller="Home" asp-action="Index2" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> Home </div>
                    </a>
                </li>

                <li>
                    <a asp-controller="Projects" asp-action="ProjectsIndex" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> Company Projects </div>
                    </a>
                </li>


                @if (User.IsInRole("Submitter"))
                {

                    <li>
                        <a asp-controller="Projects" asp-action="ProjectsOverview" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="side-menu__title"> My Projects </div>
                        </a>
                    </li>

                }

                @if (User.IsInRole("Developer"))
                {

                    <li>
                        <a asp-controller="Projects" asp-action="ProjectsOverview" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="side-menu__title"> My Projects </div>
                        </a>
                    </li>

                }

                @if (User.IsInRole("ProjectManager"))
                {

                    <li>
                        <a asp-controller="Projects" asp-action="ProjectsOverview" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="side-menu__title"> My Projects </div>
                        </a>
                    </li>

                }



                @if (User.IsInRole("Submitter"))
                {

                    <li>
                        <a asp-controller="Tickets" asp-action="TabulatorTickets" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="side-menu__title"> My Tickets </div>
                        </a>
                    </li>

                }


                @if (User.IsInRole("Developer"))
                {

                    <li>
                        <a asp-controller="Tickets" asp-action="TabulatorTickets" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="side-menu__title"> My Tickets </div>
                        </a>
                    </li>

                }



                @if (User.IsInRole("ProjectManager"))
                {

                    <li>
                        <a asp-controller="Tickets" asp-action="AssignedPMTickets" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="side-menu__title">  My Project Tickets With Developer </div>
                        </a>
                    </li>

                }


                @if (User.IsInRole("ProjectManager"))
                {

                    <li>
                        <a asp-controller="Tickets" asp-action="UnAssignedPMTickets" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="side-menu__title"> My Project Tickets Without Developer </div>
                        </a>
                    </li>

                }


                <li>
                    <a asp-controller="Tickets" asp-action="TicketsIndex" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> Company Active Tickets </div>
                    </a>
                </li>


                <li>
                    <a asp-controller="Tickets" asp-action="CompanyArchivedTickets" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> Company Archived Tickets </div>
                    </a>
                </li>




  



                @if (User.IsInRole("Admin"))
                {

                    <li>
                        <a asp-controller="Tickets" asp-action="AllAssignedTickets" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="side-menu__title"> All Tickets With Developer </div>
                        </a>
                    </li>

                }

                @if (User.IsInRole("Admin"))
                {

                    <li>
                        <a asp-controller="Tickets" asp-action="AllUnassignedTickets" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="side-menu__title"> All Tickets Without Developer </div>
                        </a>
                    </li>

                }

                @if (User.IsInRole("Admin"))
                {

                    <li>
                        <a asp-controller="Companies" asp-action="ManageUserRoles" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="side-menu__title"> Manage User Roles </div>
                        </a>
                    </li>

                }



                @if (User.IsInRole("Admin"))
                {

                    <li>
                        <a asp-controller="Invites" asp-action="Create" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                            <div class="side-menu__title"> Create Invite </div>
                        </a>
                    </li>

                }

            </ul>*@
        </nav>
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            <!-- BEGIN: Top Bar -->
            <div class="top-bar">
                <!-- BEGIN: Breadcrumb -->
                <div class="-intro-x breadcrumb me-auto d-none d-sm-flex"> </div>
                <!-- END: Breadcrumb -->

                <!-- BEGIN: Account Menu -->





                @if(User.Identity.IsAuthenticated)
                {

                    <h2 class="me-3">@btUser.FullName</h2>
                    <div class="intro-x dropdown w-8 h-8">
                      
                        <div class="dropdown-toggle w-8 h-8 rounded-pill overflow-hidden shadow-lg image-fit zoom-in" role="button" aria-expanded="false" data-bs-toggle="dropdown">
                            <img src="@_fileService.ConvertByteArrayToFile(btUser!.ImageFileData!, btUser!.ImageFileType!, (int)DefaultImage.BTUserImage)" alt="Post Images" />
                        </div>
                        <div class="dropdown-menu w-56">
                            <ul class="dropdown-content bg-theme-26 dark-bg-dark-6 text-white">
                                <li class="p-2">
                                    <div class="fw-medium text-white">@btUser.FullName</div>
                                    <div class="fs-xs text-theme-28 mt-0.5 dark-text-gray-600">Backend Engineer</div>
                                </li>
                                <li>
                                    <hr class="dropdown-divider border-theme-27 dark-border-dark-3">
                                </li>
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index"> <i data-feather="user" class="w-4 h-4 me-2"></i> Profile </a>
                                </li>
      @*                          <li>
                                    <a href="" class="dropdown-item text-white bg-theme-1-hover dark-bg-dark-3-hover"> <i data-feather="edit" class="w-4 h-4 me-2"></i> Add Account </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item text-white bg-theme-1-hover dark-bg-dark-3-hover"> <i data-feather="lock" class="w-4 h-4 me-2"></i> Reset Password </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item text-white bg-theme-1-hover dark-bg-dark-3-hover"> <i data-feather="help-circle" class="w-4 h-4 me-2"></i> Help </a>
                                </li>*@
                                <li>
                                    <hr class="dropdown-divider border-theme-27 dark-border-dark-3">
                                </li>
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Logout" class="dropdown-item text-white bg-theme-1-hover dark-bg-dark-3-hover"> <i data-feather="toggle-right" class="w-4 h-4 me-2"></i> Logout </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                } else
                {
                    <div class="intro-x dropdown w-8 h-8">
                        <div class="dropdown-toggle w-8 h-8 rounded-pill overflow-hidden shadow-lg image-fit zoom-in" role="button" aria-expanded="false" data-bs-toggle="dropdown">
                            <img alt="Rubick Bootstrap HTML Admin Template" class="rounded-pill" src="~/dist/images/profile-15.jpg">
                        </div>
                        <div class="dropdown-menu w-56">
                            <ul class="dropdown-content bg-theme-26 dark-bg-dark-6 text-white">
                                <li class="p-2">
                                    <div class="fw-medium text-white">Al Pacino</div>
                                    <div class="fs-xs text-theme-28 mt-0.5 dark-text-gray-600">Backend Engineer</div>
                                </li>
                                <li>
                                    <hr class="dropdown-divider border-theme-27 dark-border-dark-3">
                                </li>
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Login" class="dropdown-item text-white bg-theme-1-hover dark-bg-dark-3-hover"> <i data-feather="user" class="w-4 h-4 me-2"></i> Sign In </a>
                                </li>
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Register" class="dropdown-item text-white bg-theme-1-hover dark-bg-dark-3-hover"> <i data-feather="edit" class="w-4 h-4 me-2"></i> Register an Account </a>
                                </li>
 
                            </ul>
                        </div>
                    </div>

                }


        






                <!-- END: Account Menu -->
            </div>
            <!-- END: Top Bar -->
            <div class="intro-y d-flex align-items-center mt-8">
             </div>
            <div class="row gap-y-6 mt-5">
             @RenderBody()
            </div>
        </div>
        <!-- END: Content -->
    </div>

    <!-- BEGIN: JS Assets-->

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>



    <script>

        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=[" your-google-map-api"]&libraries=places"></script>

    <script src="/dist/js/app.js"></script>

    <!-- END: JS Assets-->



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>