@model BugSpy.Models.Ticket
@using BugSpy.Services.Interfaces;




@inject IBTFileService _ImageService
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <h2>Are you sure?</h2>
        <p class="text-lead text-muted">This ticket will be archived.</p>
        <div class="card dark mb-3">
            <div class="row g-0">
                <div class="col-md-5">
                    <div class=" dark card-body">
                        <h5 class="card-title">@Model.Title</h5>

                 
                        <div class="card-text">
                            <span class="fw-bold me-2">Details:</span>@Model.Description
                        </div>
                        <div class="card-text">
                            <span class="fw-bold me-2">Developer Assigned:</span>@Model.Project.Name
                        </div>
                        <div class="card-text">
                            <span class="fw-bold me-2">Developer Assigned:</span>@Model.DeveloperUser.FullName
                        </div>
                        <div class="card-text">
                            <span class="fw-bold me-2">Submitter:</span>@Model.SubmitterUser.FullName
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form class="d-flex justify-content-between" asp-action="Delete" asp-route-id="@Model.Id">
            <input hidden asp-for="Id" />
            <a asp-action="Index" asp-controller="Contacts" class="btn btn-outline-secondary rounded-pill btnLink">Cancel</a>
            <button type="submit" class="btn btn-danger rounded-pill btnLink">Archive</button>
        </form>
    </div>
</div>
