@using Microsoft.AspNetCore.Identity;
@using X.PagedList;
@using BugSpy.Services.Interfaces
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@inject UserManager<BTUser> _userManager
@model IEnumerable<BugSpy.Models.Ticket>
@inject IBTProjectService _btProjectService
@{
    BTUser? projectMember = await _userManager.GetUserAsync(User);

    string userId = _userManager.GetUserId(User);
}


<div class="intro-y g-col-12 overflow-auto overflow-lg-visible">
    <table id="myTable" class="display table table-report mt-n2">
        <thead>



            <tr>

                <th class="text-nowrap">TICKET NAME</th>
                <th class="text-nowrap">CREATED/UPDATED</th>
                <th class="text-nowrap">PROJECT</th>
                <th class="text-nowrap">MEMBERS</th>
                <th class="text-center text-nowrap">TYPE</th>
                <th class="text-center text-nowrap">PRIORITY</th>
                <th class="text-center text-nowrap">STATUS</th>
                <th class="text-center text-nowrap">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
        


                @foreach(Ticket ticket in Model)
                {
                int priorityId = ticket.TicketPriorityId;
                bool result = await _btProjectService.IsMemberInProject(projectMember, ticket.ProjectId);
                    <tr class="intro-x">
                        <td class="">
                            <a href="" class="fw-medium text-nowrap">@ticket.Title</a>
                            <div class="text-gray-600 fs-xs text-nowrap mt-0.5">Sport &amp; Outdoor</div>
                        </td>

                        @if (ticket.Updated != null)
                        {
                            <td class="">
                                <div href="" class="fw-medium text-nowrap"> @ticket.Updated?.ToString("MMM dd, yyyy")</div>
                                <div class="text-gray-600 fs-xs text-nowrap mt-0.5">Updated Date</div>
                            </td>
                        }
                        else
                        {

                            <td class="">
                                <a href="" class="fw-medium text-nowrap"> @ticket.Created.ToString("MMM dd, yyyy")</a>
                                <div class="text-gray-600 fs-xs text-nowrap mt-0.5">Creation Date</div>
                            </td>
                        }


                        <td class="">
                            <a href="" class="fw-medium text-nowrap">@ticket.Project.Name</a>
                        </td>

                        <td>
                            <div class="d-flex">
                                <div class="w-10 h-10 image-fit zoom-in">
                                    <img alt="Rubick Bootstrap HTML Admin Template" class="tooltip rounded-circle" src="dist/images/preview-15.jpg" title="Uploaded at 27 February 2021">
                                </div>
                                <div class="w-10 h-10 image-fit zoom-in ms-n5">
                                    <img alt="Rubick Bootstrap HTML Admin Template" class="tooltip rounded-circle" src="dist/images/preview-6.jpg" title="Uploaded at 17 July 2022">
                                </div>
                                <div class="w-10 h-10 image-fit zoom-in ms-n5">
                                    <img alt="Rubick Bootstrap HTML Admin Template" class="tooltip rounded-circle" src="dist/images/preview-12.jpg" title="Uploaded at 12 November 2021">
                                </div>
                            </div>


                        </td>



                        <td class="text-center">
                            <a href="" class="fw-medium text-nowrap">@ticket.TicketType.Name</a>
                        </td>

                    @switch (priorityId)
                    {

                        case 1:
                            <td class="text-center">
                                <a class="fw-medium text-nowrap"><span class="text-theme-9">@ticket.TicketPriority.Name</span></a>
                            </td>
                            break;

                        case 2:
                            <td class="text-center">
                                <a class="fw-medium text-nowrap"><span class="text-theme-31">@ticket.TicketPriority.Name</span></a>
                            </td>
                            break;


                        case 3:
                            <td class="text-center">
                                <a class="fw-medium text-nowrap"><span class="text-theme-32">@ticket.TicketPriority.Name</span></a>
                            </td>
                            break;


                        case 4:
                            <td class="text-center">
                                <a class="fw-medium text-nowrap"><span class="text-theme-6">@ticket.TicketPriority.Name</span></a>
                            </td>
                            break;


                    }




                    <td class="w-40">
                        <div class="d-flex align-items-center justify-content-center">  @ticket.TicketStatus.Name </div>
                    </td>





                    <td class="table-report__action w-56">
                        <div class="d-flex justify-content-center align-items-center">





                            <nav class="side-nav p-4">
                                <ul>
                                    <a href="javascript:;.html" class="side-menu p-3">

                                        <div class="side-menu__title">
                                            Actions
                                            <div class="side-menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                                        </div>
                                    </a>


                                    <ul class="p-3">




                                        <li class="mb-2">
                                            <a asp-action="Details" asp-route-id="@ticket.Id">
                                                <i data-feather="check-square" class="w-4 h-4 me-1"></i>
                                                <div class="side-menu__title"> Details </div>
                                            </a>
                                        </li>









                                        @if ((User.IsInRole("Admin")) || ticket.SubmitterUserId == userId || ticket.DeveloperUserId == userId)
                                        {






                                            <li class="mb-2">
                                                <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">
                                                    <i data-feather="check-square" class="w-4 h-4 me-1"></i>
                                                    <div class="side-menu__title"> Edit </div>
                                                </a>
                                            </li>







                                        }

                                        @if ((User.IsInRole("ProjectManager")) && result == false)
                                        {






                                            <li class="mb-2">
                                                <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">
                                                    <i data-feather="check-square" class="w-4 h-4 me-1"></i>
                                                    <div class="side-menu__title"> Edit </div>
                                                </a>
                                            </li>







                                        }






                                        @if ((User.IsInRole("Admin")))
                                        {

                                            <li class="mb-2">
                                                <a class=" text-theme-6" asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">
                                                    <i data-feather="trash-2" class="w-4 h-4 me-1"></i>
                                                    <div class="side-menu__title"> Delete </div>
                                                </a>
                                            </li>
                                        }

                                        @if ((User.IsInRole("ProjectManager")) && result == false)
                                        {
                                            <li class="mb-2">
                                                <a class=" text-theme-6" asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">
                                                    <i data-feather="trash-2" class="w-4 h-4 me-1"></i>
                                                    <div class="side-menu__title"> Delete </div>
                                                </a>
                                            </li>
                                        }













                                    </ul>

                                </ul>



















                        </div>
                    </td>
                    </tr>

                }
             </tbody>
                

           
    </table>

    <!-- END: Data List -->
    <!-- BEGIN: Pagination -->



























    <!-- END: Pagination -->
</div>
<!-- BEGIN: Delete Confirmation Modal -->
<div id="delete-confirmation-modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="p-5 text-center">
                    <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                    <div class="fs-3xl mt-5">Are you sure?</div>
                    <div class="text-gray-600 mt-2">
                        Do you really want to delete these records?
                        <br>
                        This process cannot be undone.
                    </div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-outline-secondary w-24 me-1">Cancel</button>
                    <button type="button" class="btn btn-danger w-24">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>