@using BugSpy.Extensions;
@using BugSpy.Services.Interfaces;
@using Microsoft.AspNetCore.Identity;
@using BugSpy.Models.Enums
@inject IBTTicketService _btTicketService
@inject IBTProjectService _btProjectService
@inject IBTTicketHistoryService _historyService
@inject UserManager<BTUser> _userManager
@inject IBTFileService _fileService
@{

    int companyId = User.Identity!.GetCompanyId();
    string? userId = _userManager.GetUserId(User);
    BTUser? btUser = await _userManager.GetUserAsync(User);

    //GET TICKET STATS IF FOR SUBMITTER LOGIN

    IEnumerable<Ticket> recentSubmitterTickets = (await _btTicketService.GetSubmitterRecentTickets(userId));
    int ticketCount = recentSubmitterTickets.Count();
    IEnumerable<Ticket> urgentTickets = (await _btTicketService.GetSubmitterTicketsUrgentAndHighPriority(userId));
    int urgentTicketCount = urgentTickets.Count();
    IEnumerable<Ticket> newDevelopmentTickets = (await _btTicketService.GetSubmitterTicketsWithTypeNewDevelopment(userId));
    int newDevelopmentTicketCount = newDevelopmentTickets.Count();
    IEnumerable<Ticket> workTaskTickets = (await _btTicketService.GetSubmitterTicketsWithTypeWorkTask(userId));
    int workTaskTicketsCount = workTaskTickets.Count();
    IEnumerable<Ticket> defectTickets = (await _btTicketService.GetSubmitterTicketsWithTypeDefect(userId));
    int defectTicketsCount = defectTickets.Count();
    IEnumerable<Ticket> changeRequestTickets = (await _btTicketService.GetSubmitterTicketsWithTypeChangeRequest(userId));
    int changeRequestTicketCount = changeRequestTickets.Count();
    IEnumerable<Ticket> enchancementTickets = (await _btTicketService.GetSubmitterTicketsWithTypeEnhancement(userId));
    int enchancementTicketsCount = enchancementTickets.Count();
    IEnumerable<Ticket> generalTaskTickets = (await _btTicketService.GetSubmitterTicketsWithTypeGeneralTask(userId));
    int generalTaskTicketsCount = generalTaskTickets.Count();


    //END GET TICKET STATS FOR SUBMITTER LOGIN


    //GET TICKET STATS FOR DEVELOPER LOGIN
    IEnumerable<Ticket> recentDeveloperTickets = (await _btTicketService.GetDeveloperRecentTickets(userId));
    int devTicketCount = recentDeveloperTickets.Count();
    IEnumerable<Ticket> devUrgentTickets = (await _btTicketService.GetDevTicketsUrgentAndHighPriority(userId));
    int devUrgentTicketsCount = devUrgentTickets.Count();
    IEnumerable<Ticket> devNewDevelopmentTickets = (await _btTicketService.GetDevTicketsWithTypeNewDevelopment(userId));
    int devNewDevelopmentTicketsCount = devNewDevelopmentTickets.Count();
    IEnumerable<Ticket> devWorkTaskTickets = (await _btTicketService.GetDevTicketsWithTypeWorkTask(userId));
    int devWorkTaskTicketsCount = devWorkTaskTickets.Count();
    IEnumerable<Ticket> devDefectTickets = (await _btTicketService.GetDevTicketsWithTypeDefect(userId));
    int devDefectTicketsCount = devDefectTickets.Count();
    IEnumerable<Ticket> devChangeRequestTickets = (await _btTicketService.GetDevTicketsWithTypeChangeRequest(userId));
    int devChangeRequestTicketsCount = devChangeRequestTickets.Count();
    IEnumerable<Ticket> devEnchancementTickets = (await _btTicketService.GetDevTicketsWithTypeEnhancement(userId));
    int devEnchancementTicketsCount = devEnchancementTickets.Count();
    IEnumerable<Ticket> devGeneralTaskTickets = (await _btTicketService.GetDevTicketsWithTypeGeneralTask(userId));
    int devGeneralTaskTicketsCount = devGeneralTaskTickets.Count();
    //END GET TICKET STATS FOR DEVELOPER LOGIN


    //GET STATS FOR PM LOGIN
    IEnumerable<Project> AssignedProjects = (await _btProjectService.GetSignedInUserProjects(companyId, userId));
    int pmProjectsCount = AssignedProjects.Count();
    IEnumerable<Ticket> pmUnassignedTickets = (await _btTicketService.GetUnassignedPMTickets(userId, companyId));
    int pmUnassignedTicketCount = pmUnassignedTickets.Count();
    IEnumerable<Ticket> pmAssignedTickets = (await _btTicketService.GetAssignedPMTickets(userId, companyId));
    int pmAssignedTicketsCount = pmAssignedTickets.Count();
    IEnumerable<Ticket> pmUrgentTickets = (await _btTicketService.GetPMTicketsHighPriority(userId, companyId));
    int pmUrgentTicketsCount = pmUrgentTickets.Count();
    IEnumerable<Ticket> pmNewDevelopmentTickets = (await _btTicketService.GetPMTicketsWithTypeNewDevelopment(userId, companyId));
    int pmNewDevelopmentTicketsCount = pmNewDevelopmentTickets.Count();
    IEnumerable<Ticket> pmWorkTaskTickets = (await _btTicketService.GetPMTicketsWithTypeWorkTask(userId, companyId));
    int pmWorkTaskTicketsCount = pmWorkTaskTickets.Count();
    IEnumerable<Ticket> pmDefectTickets = (await _btTicketService.GetPMTicketsWithTypeDefect(userId, companyId));
    int pmDefectTicketsCount = pmDefectTickets.Count();
    IEnumerable<Ticket> pmChangeRequestTickets = (await _btTicketService.GetPMTicketsWithTypeChangeRequest(userId, companyId));
    int pmChangeRequestTicketsCount = pmChangeRequestTickets.Count();
    IEnumerable<Ticket> pmEnchancementTickets = (await _btTicketService.GetPMTicketsWithTypeEnhancement(userId, companyId));
    int pmEnchancementTicketsCount = pmEnchancementTickets.Count();
    IEnumerable<Ticket> pmGeneralTaskTickets = (await _btTicketService.GetPMTicketsWithTypeGeneralTask(userId, companyId));
    int pmGeneralTaskTicketsCount = pmGeneralTaskTickets.Count();
    int totalProjectTickets = pmUnassignedTicketCount + pmAssignedTicketsCount;
    //END GET STATS FOR PM LOGIN


    //GET STATS FOR ADMIN LOGIN

    IEnumerable<Ticket> allCompanyTickets = (await _btTicketService.GetAllCompanyTickets(companyId));
    int allCompanyTicketsCount = allCompanyTickets.Count();

    IEnumerable<Project> allCompanyProjects = (await _btProjectService.GetAllCompanyProjects(companyId));
    int allCompanyProjectsCount = allCompanyProjects.Count();

    IEnumerable<Ticket> allCompanyActiveTickets = (await _btTicketService.GetAllCompanyActiveTickets(companyId));

    int allCompanyActiveTicketsCount = allCompanyActiveTickets.Count();

    IEnumerable<Project> allCompanyActiveProjects = (await _btProjectService.GetAllCompanyActiveProjects(companyId));
    int allCompanyActiveProjectsCount = allCompanyActiveProjects.Count();


    IEnumerable<Ticket> allCompanyArchivedTickets = (await _btTicketService.GetAllCompanyArchivedTickets(companyId));

    int allCompanyArchivedTicketsCount = allCompanyArchivedTickets.Count();

    IEnumerable<Project> allCompanyArchivedProjects = (await _btProjectService.GetAllCompanyArchivedProjects(companyId));
    int allCompanyArchivedProjectsCount = allCompanyArchivedProjects.Count();

    //END GET STATS FOR ADMIN LOGIN

    IEnumerable<Ticket> companyTicketsLowPriority = (await _btTicketService.GetActiveCompanyTicketsLowPriority(companyId));
    int companyTicketsLowPriorityCount = companyTicketsLowPriority.Count();

    IEnumerable<Ticket> companyTicketsMediumPriority = (await _btTicketService.GetActiveCompanyTicketsMediumPriority(companyId));
    int companyTicketsMediumPriorityCount = companyTicketsMediumPriority.Count();


    IEnumerable<Ticket> companyTicketsHighPriority = (await _btTicketService.GetActiveCompanyTicketsHighPriority(companyId));
    int companyTicketsHighPriorityCount = companyTicketsHighPriority.Count();

    IEnumerable<Ticket> companyTicketsUrgentPriority = (await _btTicketService.GetActiveCompanyTicketsUrgentPriority(companyId));
    int companyTicketsUrgentPriorityCount = companyTicketsUrgentPriority.Count();





    IEnumerable<Ticket> inactiveCompanyTicketsLowPriority = (await _btTicketService.GetInactiveCompanyTicketsLowPriority(companyId));
    int inactiveCompanyTicketsLowPriorityCount = inactiveCompanyTicketsLowPriority.Count();


    IEnumerable<Ticket> inactiveCompanyTicketsMediumPriority = (await _btTicketService.GetInactiveCompanyTicketsMediumPriority(companyId));
    int inactiveCompanyTicketsMediumPriorityCount = inactiveCompanyTicketsMediumPriority.Count();


    IEnumerable<Ticket> inactiveCompanyTicketsHighPriority = (await _btTicketService.GetInactiveCompanyTicketsHighPriority(companyId));
    int inactiveCompanyTicketsHighPriorityCount = inactiveCompanyTicketsHighPriority.Count();



    IEnumerable<Ticket> inactiveCompanyTicketsUrgentPriority = (await _btTicketService.GetInactiveCompanyTicketsUrgentPriority(companyId));
    int inactiveCompanyTicketsUrgentPriorityCount = inactiveCompanyTicketsUrgentPriority.Count();






    IEnumerable<Ticket> recentCompanyTickets = await _btTicketService.GetRecentCompanyTickets(companyId);

    IEnumerable<TicketHistory> ticketHistories = await _historyService.GetCompanyTicketHistoriesAsync(companyId);
    IEnumerable<TicketHistory> tenTicketHistories = ticketHistories.Take(7);
    IEnumerable<BTUser> teamMebers = await _btTicketService.GetUsersTeamMembers(btUser, companyId);

    int historyCount = tenTicketHistories.Count();

}



<div class="position-relative">
    <div class="grid columns-12 gap-6">
        <div class="g-col-12 g-col-xl-9 g-col-xxl-9 z-10">
            <div class="mt-6 mb-n6 intro-y">
@*                <div class="alert alert-dismissible fade show box bg-theme-3 text-white d-flex align-items-center mb-6" role="alert">
                    <span>
                        Introducing new dashboard! Download now at <a href="javascript:;" class="text-decoration-underline ms-1" target="blank">themeforest.net</a>.
                        <button class="btn border-transparent bg-white bg-opacity-20 text-white dark-bg-dark-1 bg-opacity-30-hover py-0.5 px-2 my-n3 ms-2">Detail</button>
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> <i data-feather="x" class="w-4 h-4"></i> </button>
                </div>*@
            </div>
            <div class="mt-14 mb-3 grid g-col-12 gap-sm-10 intro-y">
                <div class="g-col-12 g-col-sm-6 g-col-md-4 py-6 ps-sm-5 ps-md-0 ps-lg-5 position-relative text-center text-sm-start">
                    <div class="position-absolute pt-0.5 pt-xxl-0 mt-5 mt-xxl-6 top-0 end-0 dropdown">
                      @*  <a class="dropdown-toggle block" href="javascript:;" aria-expanded="false" data-bs-toggle="dropdown"> <i data-feather="more-vertical" class="w-5 h-5 text-gray-600"></i> </a>*@
@*                        <div class="dropdown-menu w-40">
                            <ul class="dropdown-content">
                                <li>
                                    <a href="" class="dropdown-item"> <i data-feather="file-text" class="w-4 h-4 me-2"></i> Monthly Report </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item"> <i data-feather="file-text" class="w-4 h-4 me-2"></i> Annual Report </a>
                                </li>
                            </ul>
                        </div>*@
                    </div>
                    <div class=" display-3 fs-sm fs-xxl-base fw-medium mb-n1 "> Hi @btUser.FullName, <span class="text-gray-700 dark-text-gray-500 fw-normal">welcome back!</span> </div>

                    @if (User.IsInRole(nameof(BTRoles.Admin)))
                    {
                        <div class="fs-base fs-xxl-lg justify-content-center justify-content-sm-start d-flex align-items-center text-gray-700 dark-text-gray-500 lh-3 mt-14 mt-xxl-24"> Total Company Projects <i data-feather="alert-circle" class="tooltip w-5 h-5 ms-1.5 mt-0.5" title=""></i> </div>

                    } else
                    {
                        <div class="fs-base fs-xxl-lg justify-content-center justify-content-sm-start d-flex align-items-center text-gray-700 dark-text-gray-500 lh-3 mt-14 mt-xxl-24"> My Total Tickets <i data-feather="alert-circle" class="tooltip w-5 h-5 ms-1.5 mt-0.5" title=""></i> </div>

                    }


                    <div class="d-xxl-flex mt-5 mb-3">
                        <div class="d-flex align-items-center justify-content-center justify-content-sm-start">
                        
                            <div class="position-relative fs-2xl fs-xxl-3xl fw-medium lh-6 ps-3 ps-xxl-4">
                                <span class="position-absolute fs-xl fs-xxl-2xl top-0 start-0 mt-n1 mt-xxl-0"></span>   @if (User.IsInRole(nameof(BTRoles.Submitter)))
                                {
                                    @ticketCount
                                }
                                else if (User.IsInRole(nameof(BTRoles.Developer)))
                                {
                                    @devTicketCount
                                }
                                else if (User.IsInRole(nameof(BTRoles.ProjectManager)))
                                {

                                    @totalProjectTickets

                                }
                                else if (User.IsInRole(nameof(BTRoles.Admin)))
                                {
                                    @allCompanyProjectsCount
                                                    }
                            </div>
                 @*           <a class="text-gray-600 ms-4 ms-xxl-16" href=""> <i data-feather="refresh-ccw" class="w-4 h-4"></i> </a>*@
                        </div>
                        <div class="mt-5 d-xxl-flex justify-content-xxl-center mt-xxl-0 ms-xxl-n20 w-xxl-14 flex-xxl-none ps-xxl-2.5">
                            <div class="fw-medium d-inline-flex bg-theme-9 text-white rounded-pill px-2 py-1 fs-xs fs-xxl-sm p-xxl-0 text-xxl-theme-9 bg-xxl-transparent d-xxl-flex align-items-center tooltip cursor-pointer justify-content-xxl-center" title=""></i> </div>
                        </div>
                    </div>
          @*          <div class="text-gray-600 mt-5">Last updated 1 hour ago</div>*@
                    @if (User.IsInRole(nameof(BTRoles.ProjectManager)))
                    {
                        <div class="fs-xxl-base text-theme-9  mt-6 mb-n1"> @pmAssignedTicketsCount Assigned Ticket(s) <span class="fw-medium text-gray-800 dark-text-gray-400"></span> </div>
                        <div class="fs-xxl-base text-theme-6  mt-6 mb-n1"> @pmUnassignedTicketCount Unassigned Ticket(s) <span class="fw-medium text-gray-800 dark-text-gray-400"></span> </div>
                    }
                    @if (User.IsInRole(nameof(BTRoles.Admin)))
                    {
                        <div class="fs-xxl-base text-theme-9  mt-6 mb-n1"> @allCompanyActiveProjectsCount Active Project(s) <span class="fw-medium text-gray-800 dark-text-gray-400"></span> </div>
                        <div class="fs-xxl-base text-theme-6  mt-6 mb-n1"> @allCompanyArchivedProjectsCount Archived Project(s) <span class="fw-medium text-gray-800 dark-text-gray-400"></span> </div>
                    }
             @*       <div class="fs-xxl-base text-theme-9  mt-6 mb-n1"> @pmAssignedTicketsCount Assigned Ticket(s) <span class="fw-medium text-gray-800 dark-text-gray-400"></span> </div>*@
           

                    <div class="mt-14 mt-xxl-24 dropdown">
@*                        <button class="dropdown-toggle btn btn-rounded-primary w-44 w-xxl-52 px-4 position-relative justify-content-start" aria-expanded="false" data-bs-toggle="dropdown">
                            Download Reports
                            <span class="w-8 h-8 position-absolute d-flex justify-content-center align-items-center end-0 top-0 bottom-0 my-auto ms-auto me-1"> <i data-feather="chevron-down" class="w-4 h-4"></i> </span>
                        </button>*@
                        <div class="dropdown-menu w-44 w-xxl-52">
                            <ul class="dropdown-content">
                                <li>
                                    <a href="" class="dropdown-item"> <i data-feather="file-text" class="w-4 h-4 me-2"></i> Monthly Report </a>
                                </li>
                                <li>
                                    <a href="" class="dropdown-item"> <i data-feather="file-text" class="w-4 h-4 me-2"></i> Annual Report </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="g-row-start-2 g-row-start-md-auto g-col-12 g-col-md-4 py-6 border-black dark-border-dark-3 border-opacity-10 border-top border-top-md-0 border-start-md border-end-md border-dashed px-10 px-sm-28 px-md-5 mx-n5">
@*                    <div class="d-flex flex-wrap align-items-center">
                        <div class="d-flex align-items-center w-full w-sm-auto justify-content-center justify-content-sm-start me-auto mb-5 mb-xxl-0">
                            <div class="w-2 h-2 bg-theme-1 rounded-circle mt-n4"></div>
                            <div class="ms-3.5">
                                <div class="position-relative fs-xl fs-xxl-2xl fw-medium lh-6 lh-xxl-5 ps-3.5 ps-xxl-4"> <span class="position-absolute fs-base fs-xxl-xl top-0 start-0 mt-xxl-n1.5">$</span> 47,578.77 </div>
                                <div class="text-gray-600 dark-text-gray-600 mt-2">Yearly budget</div>
                            </div>
                        </div>
                        <select class="form-select bg-transparent border-black border-opacity-10 dark-bg-transparent dark-border-opacity-100 dark-border-dark-5 mx-auto mx-sm-0 py-1.5 px-3 w-auto mt-n2">
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                            <option value="custom-date">Custom Date</option>
                        </select>
                    </div>*@
                    <div class="mt-10 text-gray-700 dark-text-gray-500">Monthly Completed Tickets</div>
                    <canvas class="mt-6" id="myChartThree" height="267"></canvas>
                </div>
                <div class="g-col-12 g-col-sm-6 g-col-md-4 py-6 border-black border-opacity-10 border-top border-top-sm-0 border-start border-start-sm-0 border-dashed ms-n4 ps-4 ms-md-0 ps-md-0">
                    <div class="d-flex"><h3 class=" align-items-center justify-content-middle mx-auto p-4">Ticket Priorities</h3></div>
                    <ul class="nav nav-pills w-3/4 w-xxl-4/6 bg-theme-8 bg-opacity-50 dark-bg-dark-2 rounded-2 p-1 mx-auto" role="tablist">
                        
                        <li id="active-users-tab" class="nav-item flex-1" role="presentation">
                            <button class="nav-link w-full py-1.5 px-2 active" data-bs-toggle="pill" data-bs-target="#active-users" type="button" role="tab" aria-controls="active-users-tab" aria-selected="true">Active</button>
                        </li>
                       
                        <li id="inactive-users-tab" class="nav-item flex-1" role="presentation">
                            <button class="nav-link w-full py-1.5 px-2" data-bs-toggle="pill" data-bs-target="#inactive-users" type="button" role="tab" aria-controls="inactive-users-tab" aria-selected="false">Inactive</button>
                        </li>
                       
                    </ul>
                   
                    
                    <div class="tab-content mt-6">
                        <div class="tab-pane fade show active" id="active-users" role="tabpanel" aria-labelledby="active-users-tab">
                            <div class="position-relative">
                                <canvas class="mt-8" id="myChartOne" height="130"></canvas>
                                <div class="d-flex flex-column justify-content-center align-items-center position-absolute w-full h-full top-0 start-0">
                             @*       <div class="fs-xl fs-xxl-2xl fw-medium">2.501</div>
                                    <div class="text-gray-600 dark-text-gray-600 mt-0.5">Active Users</div>*@
                                </div>
                            </div>
                    

                            <div class="mx-auto w-10/12 w-xxl-2/3 mt-8">
                                <div class="d-flex align-items-center">
                                    <div class="w-2 h-2 bg-theme-9 rounded-circle me-3"></div>
                                    <span class="truncate">Low Priority</span>
                                    <div class="h-px flex-1 border border-end border-dashed border-gray-300 mx-3 d-xl-none"></div>
                                    <span class="fw-medium ms-xl-auto">@companyTicketsLowPriorityCount</span>
                                </div>
                                <div class="d-flex align-items-center mt-4">
                                    <div class="w-2 h-2 bg-theme-31 rounded-circle me-3"></div>
                                    <span class="truncate">Medium Priority</span>
                                    <div class="h-px flex-1 border border-end border-dashed border-gray-300 mx-3 d-xl-none"></div>
                                    <span class="fw-medium ms-xl-auto">@companyTicketsMediumPriorityCount</span>
                                </div>
                                <div class="d-flex align-items-center mt-4">
                                    <div class="w-2 h-2 bg-theme-32 rounded-circle me-3"></div>
                                    <span class="truncate">High Priority</span>
                                    <div class="h-px flex-1 border border-end border-dashed border-gray-300 mx-3 d-xl-none"></div>
                                    <span class="fw-medium ms-xl-auto">@companyTicketsHighPriorityCount</span>
                                </div>
                                <div class="d-flex align-items-center mt-4">
                                    <div class="w-2 h-2 bg-theme-6 rounded-circle me-3"></div>
                                    <span class="truncate">Urgent Priority</span>
                                    <div class="h-px flex-1 border border-end border-dashed border-gray-300 mx-3 d-xl-none"></div>
                                    <span class="fw-medium ms-xl-auto">@companyTicketsUrgentPriorityCount</span>
                                </div>
                            </div>
                        </div>


                  
                        <div class="tab-pane fade " id="inactive-users" role="tabpanel" aria-labelledby="inactive-users-tab">
                            <div class="position-relative">
                                <canvas class="mt-8" id="myChartTwo" height="130"></canvas>
                                <div class="d-flex flex-column justify-content-center align-items-center position-absolute w-full h-full top-0 start-0">
                                    @*         <div class="fs-xl fs-xxl-2xl fw-medium">2.501</div>
                                    <div class="text-gray-600 dark-text-gray-600 mt-0.5">Active Users</div>*@
                                </div>
                            </div>
                            <div class="mx-auto w-10/12 w-xxl-2/3 mt-8">
                                <div class="d-flex align-items-center">
                                    <div class="w-2 h-2 bg-theme-9 rounded-circle me-3"></div>
                                    <span class="truncate">Low Priority</span>
                                    <div class="h-px flex-1 border border-end border-dashed border-gray-300 mx-3 d-xl-none"></div>
                                    <span class="fw-medium ms-xl-auto">@inactiveCompanyTicketsLowPriorityCount</span>
                                </div>
                                <div class="d-flex align-items-center mt-4">
                                    <div class="w-2 h-2 bg-theme-31 rounded-circle me-3"></div>
                                    <span class="truncate">Medium Priority</span>
                                    <div class="h-px flex-1 border border-end border-dashed border-gray-300 mx-3 d-xl-none"></div>
                                    <span class="fw-medium ms-xl-auto">@inactiveCompanyTicketsMediumPriorityCount</span>
                                </div>
                                <div class="d-flex align-items-center mt-4">
                                    <div class="w-2 h-2 bg-theme-32 rounded-circle me-3"></div>
                                    <span class="truncate">High Priority</span>
                                    <div class="h-px flex-1 border border-end border-dashed border-gray-300 mx-3 d-xl-none"></div>
                                    <span class="fw-medium ms-xl-auto">@inactiveCompanyTicketsHighPriorityCount</span>
                                </div>

                                <div class="d-flex align-items-center mt-4">
                                    <div class="w-2 h-2 bg-theme-6 rounded-circle me-3"></div>
                                    <span class="truncate">Urgent Priority</span>
                                    <div class="h-px flex-1 border border-end border-dashed border-gray-300 mx-3 d-xl-none"></div>
                                    <span class="fw-medium ms-xl-auto">@inactiveCompanyTicketsUrgentPriorityCount</span>
                                </div>
                            </div>
                        </div>
             

                 
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js" integrity="sha512-v3ygConQmvH0QehvQa6gSvTE2VdBZ6wkLOlmK7Mcy2mZ0ZF9saNbbk19QeaoTHdWIEiTlWmrwAL4hS8ElnGFbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </div>
    <div class="report-box-4 w-full h-full grid columns-12 gap-6 position-xl-absolute mt-n8 mt-xl-0 pb-6 pb-xl-0 top-0 end-0 z-30 z-xl-auto">
        <div class="g-col-12 g-col-xl-3 g-start-xl-10 pb-xl-16 z-30">
            <div class="h-full d-flex flex-column">
                <div class="box p-5 mt-6 bg-theme-3 intro-x">
                    <div class="d-flex flex-wrap gap-3">
                        <div class="me-auto">
                            <div class="text-white text-opacity-70 d-flex align-items-center lh-3"> AVAILABLE ACTIONS <i data-feather="alert-circle" class="tooltip w-4 h-4 ms-1.5" title=></i> </div>
                            @if (User.IsInRole(nameof(BTRoles.Submitter)))
                            {
                                <div class="text-white position-relative fs-2xl fw-medium lh-5 ps-4 mt-3.5"> <span class="position-absolute fs-xl top-0 start-0 mt-n1.5"></span> Create New Ticket </div>
                            }

                            @if (User.IsInRole(nameof(BTRoles.Developer)))
                            {
                                <div class="text-white position-relative fs-2xl fw-medium lh-5 ps-4 mt-3.5"> <span class="position-absolute fs-xl top-0 start-0 mt-n1.5"></span> Create New Ticket </div>
                            }

                            @if (User.IsInRole(nameof(BTRoles.ProjectManager)))
                            {
                                <div class="text-white position-relative fs-2xl fw-medium lh-5 ps-4 mt-3.5"> <span class="position-absolute fs-xl top-0 start-0 mt-n1.5"></span> Create New Project </div>
                            }

                            @if (User.IsInRole(nameof(BTRoles.Admin)))
                            {
                                <div class="text-white position-relative fs-2xl fw-medium lh-5 ps-4 mt-3.5"> <span class="position-absolute fs-xl top-0 start-0 mt-n1.5"></span> Create New Project </div>
                            }



                        </div>
                        @if (User.IsInRole(nameof(BTRoles.Admin)))
                        {
                            <a asp-controller="Projects" asp-action="Create" class="d-flex align-items-center justify-content-center w-12 h-12 rounded-circle bg-white dark-bg-dark-1 bg-opacity-20 bg-opacity-30-hover text-white"> <i data-feather="plus" class="w-6 h-6"></i> </a>

                        }
                        @if (User.IsInRole(nameof(BTRoles.ProjectManager)))
                        {
                            <a asp-controller="Projects" asp-action="Create" class="d-flex align-items-center justify-content-center w-12 h-12 rounded-circle bg-white dark-bg-dark-1 bg-opacity-20 bg-opacity-30-hover text-white"> <i data-feather="plus" class="w-6 h-6"></i> </a>

                        }

                        @if (User.IsInRole(nameof(BTRoles.Developer)))
                        {
                            <a asp-controller="Tickets" asp-action="Create" class="d-flex align-items-center justify-content-center w-12 h-12 rounded-circle bg-white dark-bg-dark-1 bg-opacity-20 bg-opacity-30-hover text-white"> <i data-feather="plus" class="w-6 h-6"></i> </a>

                        }
                        @if (User.IsInRole(nameof(BTRoles.Submitter)))
                        {
                            <a asp-controller="Tickets" asp-action="Create" class="d-flex align-items-center justify-content-center w-12 h-12 rounded-circle bg-white dark-bg-dark-1 bg-opacity-20 bg-opacity-30-hover text-white"> <i data-feather="plus" class="w-6 h-6"></i> </a>

                        }
                       
                    </div>
                </div>
                <div class="report-box-4__content min-vh-xl-0 intro-x">
                    <div class="mh-full overflow-y-xl-auto box mt-5">
                        <div class="bg-white dark-bg-dark-3 position-xl-sticky top-0 px-5 pt-5 pb-6">
                            <div class="d-flex align-items-center">
                                <div class="fs-lg fw-medium truncate me-5">Summary Report</div>
         
                            </div>
                            <ul class="nav nav-pills border border-gray-400 border-dashed dark-border-gray-700 rounded-2 p-1 mt-5 mx-auto" role="tablist">

                            </ul>
                        </div>
                        <div class="tab-content px-5 pb-5">
                            <div class="tab-pane fade show active" id="weekly-report" role="tabpanel" aria-labelledby="weekly-report-tab">
                                <div class="grid columns-12 gap-y-6">
                                    


                                        @if(User.IsInRole(nameof(BTRoles.Submitter)))
                                        {

                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12 ">
                                            <div class="text-gray-600 dark-text-gray-500">Total Tickets Submitted by You:</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@ticketCount</div>
                 
                                            </div>
                                        </div>


                                            <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                                <div class="text-gray-600 dark-text-gray-500">Tickets With High or Urgent Priority</div>
                                                <div class="mt-1.5 d-flex align-items-center">
                                                    <div class="fs-lg">@urgentTicketCount</div>
                                       
                                                </div>
                                            </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">New Development Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@newDevelopmentTicketCount</div>
                                      
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Work Task Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@workTaskTicketsCount</div>
                                   
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Defect Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@defectTicketsCount</div>
                         
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Change Request Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@changeRequestTicketCount</div>
                        
                                            </div>
                                        </div>

                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Enhancment Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@enchancementTicketsCount</div>
                       
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">General Task Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@generalTaskTicketsCount</div>
               
                                            </div>
                                        </div>




                 

                                        }
                                    @if (User.IsInRole(nameof(BTRoles.Developer)))
                                    {

                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12 ">
                                            <div class="text-gray-600 dark-text-gray-500">Total Tickets Assigned to You:</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@devTicketCount</div>
                            
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Tickets With High or Urgent Priority</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@devUrgentTicketsCount</div>
                            
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">New Development Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@devNewDevelopmentTicketsCount</div>
                        
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Work Task Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@devWorkTaskTicketsCount</div>
                           
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Defect Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@devDefectTicketsCount</div>
 
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Change Request Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@devChangeRequestTicketsCount</div>
                   
                                            </div>
                                        </div>




                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Enhancment Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@devEnchancementTicketsCount</div>
                                
                                            </div>
                                        </div>


                                
                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">General Task Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@devGeneralTaskTicketsCount</div>
                     
                                            </div>
                                        </div>
                                    }

                                    @if (User.IsInRole(nameof(BTRoles.ProjectManager)))
                                    {

                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12 ">
                                            <div class="text-gray-600 dark-text-gray-500">Assigned Projects:</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@pmProjectsCount</div>

                                            </div>
                                        </div>

                                                                                <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12 ">
                                            <div class="text-gray-600 dark-text-gray-500">Total UnAssigned Tickets:</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@pmUnassignedTicketCount</div>
                               
                                            </div>
                                        </div>

                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12 ">
                                            <div class="text-gray-600 dark-text-gray-500">Total Assigned Tickets: </div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@pmAssignedTicketsCount</div>
                      
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Tickets With High or Urgent Priority</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@pmUrgentTicketsCount</div>
                      
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">New Development Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@pmNewDevelopmentTicketsCount</div>
                          
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Work Task Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@pmWorkTaskTicketsCount</div>
                       
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Defect Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@pmDefectTicketsCount</div>
                                      
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Change Request Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@pmChangeRequestTicketsCount</div>
                                       
                                            </div>
                                        </div>




                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Enhancment Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@pmEnchancementTicketsCount</div>
                            
                                            </div>
                                        </div>



                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">General Task Tickets</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@pmGeneralTaskTicketsCount</div>
                           
                                            </div>
                                        </div>
                                    }


                                    @if (User.IsInRole(nameof(BTRoles.Admin)))
                                    {
                                    
                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12 ">
                                            <div class="text-gray-600 dark-text-gray-500">Total Company Projects:</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@allCompanyProjectsCount</div>
                           
                                            </div>
                                        </div>

                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12 ">
                                            <div class="text-gray-600 dark-text-gray-500">Company Active Projects:</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@allCompanyActiveProjectsCount</div>
                             
                                            </div>
                                        </div>

                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12 ">
                                            <div class="text-gray-600 dark-text-gray-500">Company Archived Projects:</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@allCompanyArchivedProjectsCount</div>
           
                                            </div>
                                        </div>

                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12 ">
                                            <div class="text-gray-600 dark-text-gray-500">Total Company Tickets: </div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@allCompanyTicketsCount</div>
                   
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Total Active Tickets:</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@allCompanyActiveTicketsCount</div>
                               
                                            </div>
                                        </div>


                                        <div class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-12">
                                            <div class="text-gray-600 dark-text-gray-500">Total Archived Tickets:</div>
                                            <div class="mt-1.5 d-flex align-items-center">
                                                <div class="fs-lg">@allCompanyArchivedTicketsCount</div>
                                    
                                            </div>
                                        </div>



                                    }

                                   

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="report-box-3 report-box-3--content grid columns-12 gap-6 mt-xl-n5 mt-xxl-n8 mb-n10 z-40 z-xxl-10">
    <div class="g-col-12 g-col-xxl-9">
        <div class="grid columns-12 gap-6">

            <!-- BEGIN: Weekly Top Products -->
            <div class="g-col-12 mt-6">
                <div class="intro-y d-block d-sm-flex align-items-center h-10">
@*                    <h2 class="fs-lg fw-medium truncate me-5">
                        Most Recent Company Tickets
                    </h2>*@
                    <div class="d-flex align-items-center ms-sm-auto mt-3 mt-sm-0">
@*                        <button class="btn box d-flex align-items-center text-gray-700 dark-text-gray-300"> <i data-feather="file-text" class="d-none d-sm-block w-4 h-4 me-2"></i> Export to Excel </button>
                        <button class="ms-3 btn box d-flex align-items-center text-gray-700 dark-text-gray-300"> <i data-feather="file-text" class="d-none d-sm-block w-4 h-4 me-2"></i> Export to PDF </button>*@
                    </div>
                </div>
                <div class="intro-y overflow-auto overflow-lg-visible mt-8 mt-sm-0">
                    <div class="d-flex justify-content-center ">
                        <h3 class="mb-3 justify-content-center align-items-center display-6 fw-medium">  Most Recent Company Tickets</h3>
                    </div>
                    <div class="table-responsive overflow-y-xl-auto" style="overflow-y:auto;height:600px;">
                        <table id="myTable" class=" display table table-report mt-n2">
                            <thead>


                                <tr>

                                    <th class="text-nowrap">TICKET NAME</th>
                                    <th class="text-nowrap">CREATED/UPDATED</th>
                                    @*              <th class="text-nowrap">PROJECT</th>*@
                          
                 
                                    <th class="text-center text-nowrap">TYPE</th>
                   
                                    <th class="text-center text-nowrap">PRIORITY</th>
                                    <th class="text-center text-nowrap">STATUS</th>
                  
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Ticket ticket in recentCompanyTickets)
                                {


                                    int priorityId = ticket.TicketPriorityId;

                                    
                                      <tr class="intro-x">
                                        <td class="">
                                            <a class="fw-medium text-nowrap">  @ticket.Title </a>
                                            <div class="text-gray-600 fs-xs text-nowrap mt-0.5">Sport &amp; Outdoor</div>
                                        </td>

                                        @if (ticket.Updated != null)
                                        {
                                            <td class="">
                                                <a > <div href="" class="fw-medium text-nowrap"> @ticket.Updated?.ToString("MMM dd, yyyy")</div></a> 
                                                <div class="text-gray-600 fs-xs text-nowrap mt-0.5">Updated Date</div>
                                            </td>
                                        }
                                        else
                                        {

                                            <td class="">
                                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id"> @ticket.Created.ToString("MMM dd, yyyy")</a>
                                                <div class="text-gray-600 fs-xs text-nowrap mt-0.5">Creation Date</div>
                                            </td>
                                        }


                                        @*            <td class="">
                                    <a href="" class="fw-medium text-nowrap">@ticket.Project.Name</a>
                                    </td>*@

                    



                                        <td class="text-center">
                                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">@ticket.TicketType.Name</a>
                                        </td>

                                       

                                        @switch (priorityId)
                                        {

                                        case 1:
                                        <td class="text-center">
                                            <a class="fw-medium text-nowrap"><span class="text-theme-9">@ticket.TicketPriority.Name</span></a>
                                        </td>
                                        break;

                                        case 2:
                                        <td class="text-center">
                                            <a class="fw-medium text-nowrap"><span class="text-theme-31">@ticket.TicketPriority.Name</span></a>
                                        </td>
                                        break;


                                        case 3:
                                        <td class="text-center">
                                            <a class="fw-medium text-nowrap"><span class="text-theme-32">@ticket.TicketPriority.Name</span></a>
                                        </td>
                                        break;


                                        case 4:
                                        <td class="text-center">
                                            <a class="fw-medium text-nowrap"><span class="text-theme-6">@ticket.TicketPriority.Name</span></a>
                                        </td>
                                        break;


                                        }




                                        @if (ticket.Archived == false)
                                        {
                                            <td class="w-40">
                                                <div class="d-flex align-items-center justify-content-center text-theme-9"> <i data-feather="check-square" class="w-4 h-4 me-2"></i> Active </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="w-40">
                                                <div class="d-flex align-items-center justify-content-center text-theme-6"> <i data-feather="check-square" class="w-4 h-4 me-2"></i> Inactive </div>
                                            </td>

                                        }


                                    </tr>
                                
                                }
                        </table>
                    </div>
                </div>

            </div>
            <!-- END: Weekly Top Products -->
        </div>
    </div>
    <div class="g-col-12 g-col-xxl-3 position-relative z-10">
        <div class="border-start-xxl border-theme-5 dark-border-dark-3 pb-10 intro-y" style="overflow-y: auto">
            <div class="ps-xxl-6 grid columns-12 gap-6">
                <!-- BEGIN: Recent Activities -->
                <div class="g-col-12 g-col-md-6 g-col-xl-4 g-col-xxl-12 mt-3">
                    <div class="intro-x d-flex align-items-center h-10">
                        <h2 class="fs-lg fw-medium truncate me-5">
                            Recent Activities
                        </h2>
                    @*    <a href="" class="ms-auto text-theme-1 dark-text-theme-10 truncate">Show More</a>*@
                    </div>
                    <div class="report-timeline mt-5 position-relative">

                        @if (historyCount == 0)
                        {

                            <h2 class="fs-lg fw-medium truncate me-5">
                                No Activity Yet
                            </h2>
                        }


                        @foreach (TicketHistory history in tenTicketHistories)
                        {
                            <div class="intro-x position-relative d-flex align-items-center mb-3">
                                <div class="report-timeline__image">
                                    <div class="w-10 h-10 flex-none image-fit rounded-circle overflow-hidden">
                                        <img src="@_fileService.ConvertByteArrayToFile(history.User!.ImageFileData!, history.User!.ImageFileType!, (int)DefaultImage.BTUserImage)" alt="Post Images" />
                                    </div>
                                </div>
                                <div class="box px-5 py-3 ms-4 flex-1 zoom-in">
                                    <div class="d-flex align-items-center">
                                        <div class="fw-medium">@history.User.FullName</div>
                                        <div class="fs-xs text-gray-500 ms-auto">@history.Created</div>
                                    </div>
                                    <div class=" mt-1">@history.Description</div>
                                </div>
                            </div>
                        }


     @*           <div class="g-col-12 g-col-md-6 g-col-xl-4 g-col-xxl-12 mt-3 mt-xxl-8">
                    <div class="intro-x d-flex align-items-center h-10">
                        <h2 class="fs-lg fw-medium truncate me-5">
                            Transactions
                        </h2>
                    </div>
                    <div class="mt-5">
                        <div class="intro-x">
                            <div class="box px-5 py-3 mb-3 d-flex align-items-center zoom-in">
                                <div class="w-10 h-10 flex-none image-fit rounded-circle overflow-hidden">
                                    <img alt="Rubick Bootstrap HTML Admin Template" src="dist/images/profile-1.jpg">
                                </div>
                                <div class="ms-4 me-auto">
                                    <div class="fw-medium">Angelina Jolie</div>
                                    <div class="text-gray-600 fs-xs mt-0.5">20 August 2020</div>
                                </div>
                                <div class="text-theme-6">-$70</div>
                            </div>
                        </div>
                        <div class="intro-x">
                            <div class="box px-5 py-3 mb-3 d-flex align-items-center zoom-in">
                                <div class="w-10 h-10 flex-none image-fit rounded-circle overflow-hidden">
                                    <img alt="Rubick Bootstrap HTML Admin Template" src="dist/images/profile-6.jpg">
                                </div>
                                <div class="ms-4 me-auto">
                                    <div class="fw-medium">Leonardo DiCaprio</div>
                                    <div class="text-gray-600 fs-xs mt-0.5">2 September 2020</div>
                                </div>
                                <div class="text-theme-9">+$40</div>
                            </div>
                        </div>
                        <div class="intro-x">
                            <div class="box px-5 py-3 mb-3 d-flex align-items-center zoom-in">
                                <div class="w-10 h-10 flex-none image-fit rounded-circle overflow-hidden">
                                    <img alt="Rubick Bootstrap HTML Admin Template" src="dist/images/profile-2.jpg">
                                </div>
                                <div class="ms-4 me-auto">
                                    <div class="fw-medium">Johnny Depp</div>
                                    <div class="text-gray-600 fs-xs mt-0.5">12 February 2022</div>
                                </div>
                                <div class="text-theme-9">+$80</div>
                            </div>
                        </div>
                        <div class="intro-x">
                            <div class="box px-5 py-3 mb-3 d-flex align-items-center zoom-in">
                                <div class="w-10 h-10 flex-none image-fit rounded-circle overflow-hidden">
                                    <img alt="Rubick Bootstrap HTML Admin Template" src="dist/images/profile-12.jpg">
                                </div>
                                <div class="ms-4 me-auto">
                                    <div class="fw-medium">Tom Cruise</div>
                                    <div class="text-gray-600 fs-xs mt-0.5">19 November 2021</div>
                                </div>
                                <div class="text-theme-6">-$27</div>
                            </div>
                        </div>
                        <div class="intro-x">
                            <div class="box px-5 py-3 mb-3 d-flex align-items-center zoom-in">
                                <div class="w-10 h-10 flex-none image-fit rounded-circle overflow-hidden">
                                    <img alt="Rubick Bootstrap HTML Admin Template" src="dist/images/profile-4.jpg">
                                </div>
                                <div class="ms-4 me-auto">
                                    <div class="fw-medium">Johnny Depp</div>
                                    <div class="text-gray-600 fs-xs mt-0.5">28 November 2022</div>
                                </div>
                                <div class="text-theme-9">+$41</div>
                            </div>
                        </div>
                        <a href="" class="intro-x w-full d-block text-center rounded-2 py-3 border border-dotted border-theme-15 dark-border-dark-5 text-theme-16 dark-text-gray-600">View More</a>
                    </div>
                </div>
                <!-- END: Transactions -->*@
            </div>
        </div>
    </div>
</div>
            </div>
<!-- END: Content -->
        </div>

        @section Scripts {


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.js"></script>
    <script>
        const ctx = document.getElementById('myChartOne').getContext('2d');

        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [
                    'Low',
                    'Medium',
                    'High',
                    'Urgent'

                ],
                datasets: [{
                    label: 'My First Dataset',
                    data: [@companyTicketsLowPriorityCount, @companyTicketsMediumPriorityCount, @companyTicketsHighPriorityCount, @companyTicketsUrgentPriorityCount],
                    backgroundColor: [
                        'rgb(145, 199, 20)',
                        'rgb(255, 255, 0)',
                        'rgb(255, 172, 28)',
                        'rgb(211, 41, 41)'
                    ],
                    hoverOffset: 4
                       
                }]
          
            
            
            }
        
        });




        const ctx2 = document.getElementById('myChartTwo').getContext('2d');

        const myChart2 = new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: [
                    'Low',
                    'Medium',
                    'High',
                    'Urgent'

                ],
                datasets: [{
                    label: 'My Second Dataset',
                    data: [@inactiveCompanyTicketsLowPriorityCount, @inactiveCompanyTicketsMediumPriorityCount, @inactiveCompanyTicketsHighPriorityCount, @inactiveCompanyTicketsUrgentPriorityCount],
                    backgroundColor: [
                        'rgb(145, 199, 20)',
                        'rgb(255, 255, 0)',
                        'rgb(255, 172, 28)',
                        'rgb(211, 41, 41)'
                    ],
                    hoverOffset: 4
                  
                }]



            }

        });




                const ctx3 = document.getElementById('myChartThree').getContext('2d');

        const myChart3 = new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May', 
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sept',
                    'Oct',
                    'Nov',
                    'Dec'

                ],
                datasets: [{
                    label: 'Completed Tickets',
                    data: [60, 150, 30, 200, 180, 120, 230, 180, 250, 270, 180, 200],
                    backgroundColor: [
                        'rgb(145, 199, 20)'
                  
                    ],
                    hoverOffset: 4
                  
                }]



            }

        });



    </script>

    <script>

    </script>
        }


